<!DOCTYPE html>
<html >
<head>
    <title>Politocean GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/GUI.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/ROV.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/bottoni.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/FLOAT.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./po.png')}}">
</head>
<body>
    <div class="all">
        <div class="toolbar">
            <button class="options" onclick="change('ROV')">ROV</button>
            <button class="options" onclick="change('FLOAT')">FLOAT</button>
        </div>
        <div class="window">

            <!-- COMPONENTI -->

        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/GUI.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/FlaskGUI.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/Prompt.js')}}" ></script>
</body>
</html>