<div class="wrapper TASK_2 hide" id="TASK_2_FORM">
    <div class="max_task_1">
        <div class="container flex_task_2">
            <h1>TASK 2</h1>    
            <div class="camera_photo">
                <div id="c0" class="camera">
                    <div class="title" >Camera 0</div>
                    <img  id="camera" src="http://10.0.0.254:8080/stream" />
                </div>
            </div>
            <div class="functions">
                <button class="options" onclick="startPhotogrammetry()">Start photogrammetry</button>
            </div>
        </div>
    </div>
</div>