span {
    color: white;
}

.immersion {
    background-color: #16679C !important;
}

.listening {
    background-color: #770000 !important;
}

.immersion label {
    cursor: wait !important;
}

.finished {
    background-color: #0055CC !important;
}

.finished label {
    cursor: not-allowed !important;
}

.max_float {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
}

.container.float {
    width: 70%;
}

.g1 {
    grid-area: 1 / 1 / 13 / 9;
    background-color: #22272B;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    overflow-y: auto;
}

.g2 {
    grid-area: 1 / 9 / 13 / 13;
    background-color: #101214;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.report {
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.raw {
    padding: 20px;
}

h2 {
    padding: 10px 10px 10px 10px;
}


.img_style {
    margin: 10px 0 0 0;
}