* {
    margin: 0;
    padding: 0;
      -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}

html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}


.line {
  color:white
}

.stop {
  color: red !important;
}

body {
  overflow-y: auto;
}

