.flex_task_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95% !important;
    height: auto;
}

.camera {
    width: 1280px;
    aspect-ratio: 16/9;
    height: auto;
    
}

.camera_photo {
    height: auto;
}

.functions {
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    height: 50px;
}